* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.container {
    height: 570px;
    width: 360px;
    box-shadow: 0 10px 20px #000;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    font-family: sans-serif;
}

.shape {
    background-color: #002244;
    height: 260px;
    width: 200%;
    margin-left: -20px;
    position: relative;
    top: -80px;
    box-shadow: 0 2px 15px #000;
    transform: rotate(10deg);
}

.image {
    height: 180px;
    width: 160px;
    background-image: url(../media/black.png);
    position: relative;
    top: 70px;
    margin-left: 220px;
  
    background-size: cover;
    border: none;  
    box-shadow: 0 2px 15px rgb(58, 54, 54);
    transform: rotate(-10deg);
}


.image:hover {
    cursor: pointer;    
    transform: scale(0.9);
    transition: 0.5s;
}

.title {
    font-size: 15px;
    padding-bottom: 6px;
    color: #0093AF;    
}

h3 {
    font-size: 20px;
    margin-top: -80px;
    margin-bottom: 3px;
}

h4 {
    margin-bottom: 5px;
}

p {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.5;
    color: rgb(105, 100, 109);
    font-size: 14px;
}

.justificado {
	text-align: justify;
	margin-bottom: 12px;
}

ul {
    list-style-type: disc; 
    padding-left: 20px; 
    font-size: small;
    text-align: left;
}

.gif {
    position: fixed;
    margin-top: -15px;
    left: -15px; 
    width: 80px; 
    height: 100px; 
    z-index: 3; 
}

.back {
    position: fixed;
    width: 16px;
    z-index: 1;
    margin-top: 10px;
    margin-left: 25px;
       
    color: bisque;
}

.back:hover {
    cursor: pointer;
    color: #0093AF;
    transition: 0.5s;
}