* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.container {
    height: 570px;
    width: 360px;
    box-shadow: 0 10px 20px #000;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    font-family: sans-serif;
}

.shape {
    background-color: #002244;
    height: 260px;
    width: 200%;
    margin-left: -20px;
    position: relative;
    top: -80px;
    box-shadow: 0 2px 15px #000;
    transform: rotate(10deg);
}

.image {
    height: 140px;
    width: 140px;
    background-image: url(../media/imagen.jpg);
    position: relative;
    top: 150px;
    margin-left: 21%;
    background-size: cover;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 15px rgb(58, 54, 54);
    transform: rotate(-10deg);
}


.image:hover {
    cursor: pointer;    
    transform: scale(1.3);
    transition: 0.5s;
}

.title {
    font-size: 15px;
    padding-bottom: 6px;
    color: #0093AF;    
}
h5 {
    margin-top: -40px; /* Ajusta el margen superior según sea necesario */
    font-size: 14px;
    /* Otros estilos para h5 */
}

h3 {
    font-size: 24px;
    /* Otros estilos para h3 */
}

h4 {
    font-size: 20px;
    margin-bottom: 20px;
    /* Otros estilos para h4 */
}


p {
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.5;
    color: rgb(105, 100, 109);
    font-size: 18px;    
}

p a {
    text-decoration: none;
}

p:hover {
    color: #0093AF;
    cursor: pointer;
    transform: scale(1.2);
}





