.qr-container {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    height: 100%; 
    margin-top: -55px;
}

.qr-container img {
    max-width: 90%;
    max-height: 90%;   
   
}



