.qr-container {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    height: 100%; /* Ajusta la altura según sea necesario */
    margin-top: -55px;
}

.qr-container img {
    max-width: 90%;
    max-height: 90%;
   
    /* Otros estilos según sea necesario */
}

