.video-container {
    position: relative;
    width: 150%;
    padding-bottom: 56.25%; 
    overflow: hidden;
}


.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}